@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    font-size:15px;
}
.box{
    margin:0 auto;
    max-width: 360px;
}
img{
    width:100%;
    border-radius:15px;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius:17px;
    margin: 0 1em;
}
.text{
    text-align:center;
    padding:19px 19px;
    
}
h2{
    color:hsl(218, 44%, 22%);
    padding-bottom: 15px;
}
p{
    color:hsl(216, 15%, 48%);
}
.attribution{
    display:grid;
}